<DOCTYPE html>
    
<html>
    <head>
        
    </head>
    
    <body>
       <p>You have received a message from the Rails Contact Form from  <%= "#{@name}" %></p> 
        <p>His/her email address is <%= "#{@email}" %> </p>
        <p>  <%= "#{@body}"  %> </p>
    </body>
    
</html>    
    